<app-page-header>Class Mapper</app-page-header>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <div class="">Original</div>
        <small class="text-muted">Paste the existing class below and select the desired language</small>
      </div>
      <div class="card-body">
        <textarea class="form-control"
                  [(ngModel)]="sourceCode"
                  rows="20"
                  cols="40"></textarea>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col">
            <select class="form-control"
                    name="fromLanguage"
                    [(ngModel)]="fromLanguage">
              <option *ngFor="let item of languages"
                      [value]="item">{{item}}</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control"
                    name="fromLanguage"
                    [(ngModel)]="fromLanguage">
              <option *ngFor="let item of languages"
                      [value]="item">{{item}}</option>
            </select>
          </div>
          <div class="col">
            <button class="btn btn-primary"
                    (click)="convertClass()">Convert</button></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header">
        <div class="">Converted</div>
        <small class="text-muted">Use the copy button below to copy your new source code!</small>
      </div>
      <div class="card-body">
        <textarea class="form-control"
                  [(ngModel)]="convertedCode"
                  rows="20"
                  disabled
                  cols="80"></textarea>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-default"
                [disabled]="!convertedClass">Copy</button>
      </div>
    </div>
  </div>
</div>
