<app-page-header>User Details</app-page-header>

<ngb-tabset class="nav-tabs-top">
  <ngb-tab title="Details">
    <ng-template ngbTabContent>
      <form class=""
            [formGroup]="userForm"
            (ngSubmit)="onSubmit()"
            *ngIf="userForm">

        <div class="card-body"
             *ngIf="userData?.photoURL">

          <div class="media align-items-center">
            <img src="{{userData?.photoURL}}"
                 alt=""
                 class="d-block ui-w-80">
            <div class="media-body ml-3">
              <!-- <label class="form-label d-block mb-2">Avatar</label>
        <button type="button" class="btn btn-outline-primary btn-sm">Change</button>&nbsp;
        <button type="button" class="btn btn-default btn-sm md-btn-flat">Reset</button> -->
            </div>
          </div>
        </div>
        <hr class="border-light m-0">
        <div class="card-body pb-2">
          <div class="form-group">
            <label class="form-label">Name</label>
            <input formControlName="name"
                   type="text"
                   class="form-control">
          </div>
          <div class="form-group">
            <label class="form-label">E-mail</label>
            <input formControlName="email"
                   type="text"
                   (change)="disableSubmit = false;"
                   class="form-control mb-1">
            <!-- <a href="javascript:void(0)" class="small">Resend confirmation</a> -->
          </div>
          <div class="row">

            <div class="form-group col-md-3">
              <span class="form-label">Active</span>
              <label class="switcher switcher-lg switcher-success d-block mt-2">
                <input [value]="isActive"
                       class="switcher-input"
                       type="checkbox"
                       formControlName="isActive">
                <span class="switcher-indicator">
                  <span class="switcher-yes">
                    <span class="fas fa-check"></span>
                  </span>
                  <span class="switcher-no">
                    <span class="fas fa-times"></span>
                  </span>
                </span>
              </label>
            </div>
          </div>

        </div>
        <hr class="border-light m-0">
        <div class="text-right m-3">
          <button type="submit"
                  data-style="slide-left"
                  class="btn btn-primary"
                  [disabled]="userForm.invalid || userForm.pristine || disableSubmit"> Save Changes </button>
          <button type="button"
                  (click)="resetForm()"
                  class="btn btn-default">Cancel</button>
        </div>
      </form>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
