<div class="authentication-wrapper authentication-1 px-4">
  <div class="authentication-inner card py-5">

    <!-- Logo -->
    <div class="card-header">
      <div class="d-flex justify-content-center align-items-center p-3">

        <img src="../../../assets/images/logo.png" class="img-fluid" alt="App LOGO">
      </div>
    </div>
    <!-- / Logo -->

    <div class="text-center card-body my-5">
      <div class="">
        <button (click)="googleLogin()" class="btn btn-google btn-large text-center"><span class="fab fa-google"></span> &nbsp; Login with Google</button>
      </div>
    </div>

    <div class="text-center text-muted">
      Owl Computing Portal
    </div>

  </div>
</div>
