<div class="card" style="height: 100%;">

  <div class="card-body d-flex justify-content-between align-items-start pb-3">
    <div>
      <a href="{{project.html_url}}" class="text-body text-big font-weight-semibold">{{project.name}}</a>
      <span class="badge align-text-bottom ml-1" [ngClass]="'badge-' + statuses[project.status].color">{{statuses[project.status].title}}</span>
      <div class="text-muted small mt-1">{{project.description}}</div>
    </div>

    <div class="btn-group" ngbDropdown [placement]="!isRTL ? 'bottom-right' : 'bottom-left'">
      <button type="button" class="btn btn-default btn-sm icon-btn borderless rounded-pill md-btn-flat hide-arrow" ngbDropdownToggle><i class="fas fa-ellipsis-v"></i></button>
      <div ngbDropdownMenu [class.dropdown-menu-right]="!isRTL">
        <a class="dropdown-item" href="javascript:void(0)">Details</a>
      </div>
    </div>
  </div>

  <ngb-progressbar [value]="completedPercent(project.openIssues, 10)" height="3px"></ngb-progressbar>
  <div class="card-body small pt-2 pb-0">
    <strong>{{project.openIssues}}</strong> open issues
  </div>
<div class="card-body pb-3">
  <!-- {{project.description}} -->
</div>


  <div class="card-body pt-0">
    <div class="row">
      <div class="col">
        <div class="text-muted small">Created</div>
        <div class="font-weight-bold">{{project.createDate | date}}</div>
      </div>
      <div class="col">
        <div class="text-muted small">Updated</div>
        <div class="font-weight-bold">{{project.updateDate | date}}</div>
      </div>
      <div class="col">
        <div class="text-muted small">Language</div>
        <div class="font-weight-bold">{{project.language}}</div>
      </div>
    </div>
  </div>
</div>
