<div class="ui-bg-cover ui-bg-overlay-container text-white" style="background-image: url('assets/images/img/bg/21.jpg');">
  <div class="ui-bg-overlay bg-dark opacity-50"></div>

  <div class="container">
    <div class="d-flex justify-content-between align-items-center pt-4">
      <div>
        <a href="#" class="d-inline-block text-white">
          <strong>Full stack</strong> <span class="opacity-75">developer</span>
        </a>
        <a href="#" class="d-inline-block text-white ml-3">
          <strong>5+</strong> <span class="opacity-75">years experience</span>
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="text-center py-5">
      <img src="/products/appwork/v131/assets_/img/avatars/7.png" alt class="ui-w-100 rounded-circle">

      <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
        <h4 class="font-weight-bold my-4">Chad Hollenbeck</h4>

        <div class="opacity-75 mb-4">
          Welcome to my digital haven. Chock full of tools, projects, and other snippets I've developed over the years.
        </div>
      </div>

      <div class="text-center pt-3">
        <a href="https://www.linkedin.com/in/chad-hollenbeck-b90ab465/" class="btn icon-btn btn-linkedin rounded-pill"><span class="fab fa-linkedin"></span></a>
        &nbsp;
        <a href="https://github.com/Chad-Hollenbeck" class="btn icon-btn btn-macos rounded-pill"><span class="fab fa-github"></span></a>
        &nbsp;
        <a href="mailto:chadmhollenbeck@gmail.com" class="btn icon-btn btn-google rounded-pill"><span class="fas fa-envelope"></span></a>
      </div>
    </div>
  </div>

  <div class="ui-bg-overlay-container">
    <div class="ui-bg-overlay bg-dark opacity-25"></div>
    <ul class="nav nav-tabs tabs-alt justify-content-center border-transparent">
      <li class="nav-item">
        <a class="nav-link text-white py-4 cursor-pointer" [ngClass]="{active:content==1}" (click)="content=1">Hub</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white py-4" href="https://chadmhollenbeck-portfolio.web.app/" target="_blank">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white py-4 cursor-pointer" [ngClass]="{active:content==2}" (click)="content=2">Portfolio</a>
      </li>

    </ul>
  </div>

</div>

<div class="myhub" [ngClass]="{'d-none' : content != 1}">

  <!-- Counters -->
  <div class="row no-gutters row-bordered container-m-nx">

    <div class="col-sm-6 col-md-3 col-lg-6 col-xl-3">
      <div class="d-flex align-items-center container-p-x py-4">
        <div class="ml-3 far fa-calendar fa-3x text-primary"></div>
        <div class="ml-3">
          <div class="text-muted small">Age</div>
          <div class="text-large">25</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-6 col-xl-3">
      <div class="d-flex align-items-center container-p-x py-4">
        <div class="fab fa-git-square fa-3x text-primary"></div>
        <div class="ml-3">
          <div class="text-muted small">2019 Git Contributions</div>
          <div class="text-large">746</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-6 col-xl-3">
      <div class="d-flex align-items-center container-p-x py-4">
        <div class="fas fa-coffee fa-3x text-primary"></div>
        <div class="ml-3">
          <div class="text-muted small">Daily coffee intake</div>
          <div class="text-large">6 cups</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-6 col-xl-3">
      <div class="d-flex align-items-center container-p-x py-4">
        <div class="fas fa-cat fa-3x text-primary"></div>
        <div class="ml-3">
          <div class="text-muted small">Programing Assitants</div>
          <div class="text-large">1 beloved feline</div>
        </div>
      </div>
    </div>
  </div>
  <!-- / Counters -->

  <!-- Skills -->
  <div class="row">
    <div class="col">

      <div class="card mb-4">
        <div class="card-header">
          <div class="">Skills</div>
        </div>
        <div class="card-body">

          <div class="mb-1">Angular/Typescript - <small class="text-muted">95%</small></div>
          <div class="progress mb-3" style="height: 4px;">
            <div class="progress-bar bg-success" style="width: 95%;"></div>
          </div>

          <div class="mb-1">HTML - <small class="text-muted">80%</small></div>
          <div class="progress mb-3" style="height: 4px;">
            <div class="progress-bar bg-warning" style="width: 80%;"></div>
          </div>

          <div class="mb-1">PHP - <small class="text-muted">70%</small></div>
          <div class="progress mb-3" style="height: 4px;">
            <div class="progress-bar bg-danger" style="width: 70%;"></div>
          </div>

          <div class="mb-1">GIT - <small class="text-muted">90%</small></div>
          <div class="progress" style="height: 4px;">
            <div class="progress-bar bg-success" style="width: 90%;"></div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- / Skills -->

  <!-- Centered timeline with info block -->
  <div class="ui-timeline ui-timeline-with-info ui-timeline-center">
    <div class="ui-timeline-separator text-big">
      <div class="ui-timeline-track-bg d-inline-block rounded small font-weight-semibold py-2 px-4">2010</div>
    </div>

    <div class="ui-timeline-item ui-timeline-item-left">

      <div class="card card-condenced">
        <div class="card-body">
          <div class="font-weight-bold mb-3">
            Merging two hobbies
          </div>
          <p class="mb-0">
            Started getting serious about software development and script writing. Started out creating automations for the popular MMORPG Runescape.
          </p>
        </div>
      </div>
    </div>

    <!-- 2011 -->
    <div class="ui-timeline-separator text-big">
      <div class="ui-timeline-track-bg d-inline-block rounded small font-weight-semibold py-2 px-4">2011</div>
    </div>

    <div class="ui-timeline-item">

      <div class="card card-condenced">
        <div class="card-body">
          <div class="font-weight-bold mb-3">
            Business Professionals of America
          </div>
          <p>
            My journey through BPA's fantastic organization landed me at the National Leadership conference where I placed 13th of 36th in Intermediate Java Programming.
          </p>
        </div>
      </div>
    </div>

    <!-- 2015 -->
    <div class="ui-timeline-separator text-big">
      <div class="ui-timeline-track-bg d-inline-block rounded small font-weight-semibold py-2 px-4">2015</div>
    </div>

    <div class="ui-timeline-item ui-timeline-item-left">
      <div class="ui-timeline-badge ui-w-40">
        <div class="ui-square bg-success rounded-circle text-white">
          <div class="d-flex ui-square-content">
            <div class="fas fa-handshake ion-md-list-box m-auto"></div>
          </div>
        </div>
      </div>
      <div class="card card-condenced">
        <div class="card-body media">
          <div class="media-body py-2 pl-sm-3">
            <div class="text-big font-weight-bold mb-2">
              <a href="#" class="text-body">Owl Computing Inc</a>
            </div>
            <div>
              After working a few years as an office tech for Grand Valley State University, I started a job with Owl Computing as a junior developer.
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 2017 -->
    <div class="ui-timeline-separator text-big">
      <div class="ui-timeline-track-bg d-inline-block rounded small font-weight-semibold py-2 px-4">2017</div>
    </div>

    <div class="ui-timeline-item ui-timeline-item-right">
      <div class="ui-timeline-badge ui-w-40">
        <div class="ui-square bg-success rounded-circle text-white">
          <div class="d-flex ui-square-content">
            <div class="fa fa-graduation-cap ion-md-list-box m-auto"></div>
          </div>
        </div>
      </div>
      <div class="card card-condenced">
        <div class="card-body media">
          <div class="media-body py-2 pl-sm-3">
            <div class="text-big font-weight-bold mb-2">
              <a href="#" class="text-body">Grand Valley State University</a>
            </div>
            <div>
              After 4 years, 3 part time jobs, and 1 official internship later I graduated from GVSU with a B.A in Information Systems and a minor in General Business.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui-timeline-separator text-big">
      <div class="d-inline-block bg-primary rounded text-white small font-weight-semibold py-2 px-4">Today</div>
    </div>

    <div class="ui-timeline-item ui-timeline-item-left">

      <div class="card card-condenced">
        <div class="card-body media">
          <div class="media-body py-2 pl-sm-3">
            <div class="text-big font-weight-bold mb-2">
              <a href="#" class="text-body">Onwards and Upwards</a>
            </div>
            <div>
              Going on 5 years of professional development experience alongside my wonderful wife and our feline accompanyment. Always looking out for ways to grow my productivity both personally and professionally. I've taken to developing projects
              leveraging Google's Firebase platform, which has led to some interesting challenges!
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /Timeline -->
</div>
<!-- /Hub -->

<div class="projects" [ngClass]="{'d-none' : content != 2}">
  <app-project-list></app-project-list>
</div>
