<nav class="footer" [ngClass]="currentBg()">
  <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
    <div class="">
      <!-- <img src="assets/images/owl-logo-blue.png" class="app-logo d-inline" alt=""> -->
    </div>
    <div class="pt-3">
      Powered by <a href="https://owlcomputing.com" class="ml-2 footer-text font-weight-bolder">Owl Computing Inc</a></div>
    <!-- <div>
      <a href="javascript:void(0)" class="footer-link pt-3">About Us</a>
      <a href="javascript:void(0)" class="footer-link pt-3 ml-4">Help</a>
      <a href="javascript:void(0)" class="footer-link pt-3 ml-4">Contact</a>
      <a href="javascript:void(0)" class="footer-link pt-3 ml-4">Terms &amp; Conditions</a>
    </div> -->
  </div>
</nav>
